<h2><%= @bar.name %></h2>
<%= image_tag @bar.image_url %>
<%= link_to 'Delete Post', neighborhood_bar_path(@neighborhood, @bar),
                  :method => :delete %></div>
<p><strong>Note:</strong> With great power comes great responsibility. Please do not delete unless you have a good reason to to do.</p>
