Don't see the neighborhood you're looking for? <%= link_to "Add one", new_neighborhood_url %>.

<% @neighborhoods.each do |neighborhood| %>
  <h2><%= link_to neighborhood.name, neighborhood %></h2>
  <%= image_tag neighborhood.image_url %>
<% end %>
