<div class="header">
  <h1>Bar In Mind</h1>
  <h2>Get the inside scoop about the best bars in your D.C. neighborhood</h2>
</div>

<% if current_user %>
  <div class="add-neighborhood">Don't see the neighborhood you're looking for? <%= link_to "Add one", new_neighborhood_url %>.</div>
<% end %>

<div class="bars-background">
  <% @neighborhoods.each do |neighborhood| %>
    <div class="neighborhoods-outer col-md-3">
      <div class="neighborhoods-inner">
        <div class="overlay">
          <%= link_to image_tag(neighborhood.image_url, :alt => neighborhood.name), neighborhood_url(neighborhood) %>
          <div class="overlay-text">
            <div>
              <%= link_to neighborhood.name, neighborhood_url(neighborhood) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
